@layout('layouts/main')
@section('title')
FRESHGEAR | TOP KICKS
@endsection
@section('content')
<section class="content-area about-page">
<div class="container">
<div class="box-container">
  <h1>ABOUT</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quo sapiente repellendus vero corrupti aliquid enim, voluptatem quod modi id quos perspiciatis voluptate, error, nemo aperiam fugit magni molestias. Incidunt!</p>
</div>
</div>
</section>
@endsection
